// -------------------------
// HOME
// -------------------------

body{
	font-family: 'GothamBk';
	font-size: 16px;
	text-decoration: none;
	color: #404040;
}
a{
    text-decoration: none;
}

.home{
}
.icon-title {
    font-family: GothamLt;
    font-size: 20px;
    margin-top: 20px;
    color: #0c2a74;
}
.icon-txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 15px;
}
.txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}
.bg-gray1{
	.col-xs-12{
		margin-top: 15px;
	}
}
.main-title{
    font-family: GothamXLt;
    font-size: 46px;
    color: #0c2a74;
    margin-top: 70px;
}
/*UNITS*/
.block-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.block-description-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.block-white {
	&.white-left{
	    padding: 25px 5px 25px 10px;
	}
	&.white-right{
	    padding: 25px 10px 25px 5px;
	}
}
.main-fluid{
	position: relative;
	.left-side{
	    position: relative;
        background-color: #f9f9f9;
	}
}
.main-widget-fluid .left-side {
}
.right-description{
    padding: 5px 15px 35px;
    .table{
	    margin-left: -5px;
    }
}
.sub-txt {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.sub-title {
    font-family: GothamLt;
    font-size: 25px;
    margin-top: 20px;
    color: #0c2a74;
}
/*LOCATION*/
section#location {
    min-height: 400px;
}
section#contact {
	position: relative;
    z-index: 1;
    min-height: 500px;
	background-color: #0c2a74;
    background: url(../img/contact-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    >.container.relative{
    	z-index: 99;
    }
    form#contactForm {
    	margin-top: 20px;
		.form-group{
			button.btn.btn-primary.btn-lg{
				float: right;
				padding: 10px 20px;
				background-color: #39B6C1;
			}
		}
		.form-control {
		    background-color: transparent;
		    background-image: none;
		    box-shadow: none;
		    border: none;
		    border-bottom: 1px solid white;
		    border-radius: 0;
		}
		input{
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;
		}
		textarea{
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;
		}
		input:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px white inset;
		}
		::-webkit-input-placeholder {
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;  
		}
		:-ms-input-placeholder {  
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: 100;  
		}
	}
	.bg-blue-trans {
	    background-color: rgba(0, 22, 99, 0.8);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 2;
	}
	#contactForm {
		.social-block{
			.row{
				margin-top: 15px;
			}
			.col-xs-1{
				margin-right: 20px;
				text-align: center;
			}
			i{
				&.fa{
					font-size: 1.5em;
				}
			}
		}
	}
}
#footer {
	.bg-gray6{
	    padding: 15px;
	}
	img {
	    max-height: 55px;
	    margin-left: 10px;
	}
	.social-block {
	    float: right;
        margin-top: 15px;
        a{
		    i.fa {
			    font-size: 1.7em;
			    color: #fff;
			    margin-right: 25px;
			}
        }
        a:hover,
        a:active{
        	i{
        		color: #39B6C1;
        	}
        }
	}
}