
/*SLIDER*/

.slider-position {
  position: absolute;
  z-index: 50;
  width: 100%;
  top: 50%;
}
.slider-position a {
    i.fa-angle-left, i.fa-angle-right{
        font-size: 1.4em;
    }
    i.fa-angle-left{
        margin-left: -1px;
    }
    i.fa-angle-right{
        margin-left: 2px;
    }
}
.slider-position a {
    i.fa-circle{
        font-size: 2em;
        color: #fff;
    }
}
a.prev {
    position: absolute;
    left: 2px;
    cursor: pointer;
}
a.next {
    position: absolute;
    right: 2px;
    cursor: pointer;
}
.row-title {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: GothamBd;
    font-size: 20px;
    text-transform: uppercase;
}
.banner-container{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -136px;
    background-color: rgba(0,22,99,0.85);
    padding: 15px 40px;
    .banner-txt{
        padding: 0 15px;
        .banner-title, .banner-subtitle{
            color: #fff;
        }
        .banner-title{
            font-size: 22px;
            text-transform: uppercase;
        }
        .banner-subtitle{
            font-size: 16px;
        }
    }
}
.main-banner-filter{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(64, 64, 64, 0.0);
}
.main-banner{
    &.banner-01{
        height: 400px;
        background: url(../img/main-banner-01.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.banner-02{
        height: 400px;
        background: url(../img/main-banner-02.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.banner-03{
        height: 400px;
        background: url(../img/main-banner-03.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.dropdown{
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    a#dLabel {
        font-size: 12px;
    }
    ul.dropdown-menu {
        border-radius: 0px;
        border: none;
        float: right;
        width: 200px;
        top: 33px;
        left: -115px;
        padding: 0px 0px 10px;
        text-align: right;
        li {
            padding: 5px 30px;
            &:hover{
                color: #fff;
                background-color: #404040;
            }
        }
    }
}
.circle-pointer {
    display: none;
    position: absolute;
    bottom: 6%;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    background-color: #eee;
    text-align: center;
    padding: 15px 10px 10px;
    &:active {
        background: white;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
    }
    i {
        color: #404040;
        font-size: 1.8em;
    }
}
#main-slider{
    padding: 50px 0;
    .txt-block {
        padding: 15px 5px;
        background-color: #fff;
        .card-title {
            text-align: center;
            font-family: GothamMd;
            font-size: 18px;
        }
        .card-subtitle {
            text-align: center;
            font-family: GothamLt;
            font-size: 14px;
            margin-top: 5px;
        }
    }
}
.white-card{
    .sldr-title{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background: #fff;
        background-color: rgba(255,255,255,0.80);
        text-align: center;
        font-family: GothamBd;
        padding: 5px 0 7px;
        text-transform: uppercase;
    }
}


@media(min-width:768px){
    .banner-container{
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -246px;
        padding: 15px 90px;
        .banner-txt{
            padding: 0;
            .banner-title{
                font-size: 42px;
            }
        }
    }
    .circle-pointer {
       display: block;
    }
    .main-banner{
        &.banner-01, &.banner-02, &.banner-03{
            height: 600px;
        }
    }
    .dropdown{
        display: block;
    }
}